# DB_PATH="./.lancedb"
# TABLE_NAME="docs"
# PORT=8000
# HOST="127.0.0.1"


# CRITICAL = 50
# FATAL = CRITICAL
# ERROR = 40
# WARNING = 30
# WARN = WARNING
# INFO = 20
# DEBUG = 10
# NOTSET = 0
# LOG_LEVEL=20
